<div class="container mx-auto">
    <h1 class="text-2xl font-bold mb-4">Cars List</h1>
  
    @if(isLoading) {
        <div class="text-center">
            <p>Loading cars...</p>
          </div>
    }
    
    @if(error) {
        <div class="text-red-600 text-center">
            <p>{{ error }}</p>
          </div>    
    }
  
    @if(!isLoading && !error) {
        <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6"
        >
        @for (car of cars; track car) {
          @if(car.id !== undefined) {
          <div class="max-w-md relative rounded-lg overflow-hidden shadow-lg transform hover:scale-105 transition-transform duration-300" 
        (click)="selectCar(car.id)"
        >
        
  
          <div class="relative bg-gradient-to-tr from-gray-900 to-slate-300 bg-opacity-90 text-white p-4 rounded-b-lg">
            
            <h2 class="text-lg font-bold text-white uppercase">{{ car.marque }} {{ car.modele }}</h2>
            <p class="text-sm text-white">{{ car.type }}</p>
          
            <div class=" flex justify-center">
              <img 
                src="assets/img/{{ car.modele }}.png" 
                alt="Car Image" 
                class="w-full object-contain bg-grad"
              />
            </div>
            
            <div class="flex space-x-4 mt-3">
              <div class="flex items-center space-x-1">
                <div class="flex items-center justify-center w-6 h-6 rounded-full bg-gray-800">
                  <i class="fas fa-user text-white"></i>
                </div>
                <span class="text-sm text-white">{{ car.nombreSiege }}</span>
              </div>
              <div class="flex items-center space-x-1">
                <div class="flex items-center justify-center w-6 h-6 rounded-full bg-gray-800">
                  <i class="fas fa-door-closed text-white"></i>
                </div>
                <span class="text-sm text-white">{{ car.nombrePortes }}</span>
              </div>
              <div class="flex items-center space-x-1">
                <div class="flex items-center justify-center w-6 h-6 rounded-full bg-gray-800">
                  <i class="fas fa-cogs text-white"></i>
                </div>
                <span class="text-sm text-white">{{ car.transmission }}</span>
              </div>
            </div>
            <p class="mt-4 flex items-center text-white text-sm">
              <i class="fas fa-check-circle mr-2"></i> Kilométrage illimité disponible
            </p>
          
            
            <div class="mt-4 flex">
              <p class="text-lg font-bold text-white">{{ car.prixJournalier }} DHs <span class="text-sm font-normal">/jour</span></p>
              <p class="pl-3 pt-[0.15rem] text-sm text-gray-400">{{calculateTotalPrice(car.prixJournalier)}} DHs total</p>
            </div>
          </div>
        </div>
        }
      }
      @empty {
          <div class="text-center font-medium">There are no cars.</div>
          }    
    </div>
  }
  
</div>
        <!---------------------------------------------------
             <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition-shadow duration-300"
                >
                <img
                  src="https://picsum.photos/200/300"
                  alt="Car Image"
                  class="w-full h-48 object-cover"
                />
                <div class="p-4">
                  <h2 class="text-lg font-bold text-gray-800">{{ car.marque }} - {{ car.modele }}</h2>
                  <p class="text-gray-600 text-sm mt-2">Type: {{ car.type }}</p>
                  <p class="text-gray-600 text-sm">Transmission: {{ car.transmission }}</p>
                  <p class="text-gray-600 text-sm">Seats: {{ car.nombreSiege }} | Doors: {{ car.nombrePortes }}</p>
                  <p class="text-gray-600 text-sm mt-2">
                    Price per day: <span class="font-bold">{{ car.prixJournalier }} €</span>
                  </p>
                  <p
                    class="text-sm mt-2"
                    [ngClass]="{
                      'text-green-600': !car.isRented,
                      'text-red-600': car.isRented
                    }"
                  >
                    Status: {{ car.isRented ? 'Rented' : 'Available' }}
                  </p>
                   <button
                    class="bg-red-500 text-white px-4 py-2 mt-4 rounded"
                    (click)="deleteCar(car.id)"
                  >
                    Delete
                  </button> 
                </div>
            </div> 
        --------------------------------------------------->


<!-- ---------------------------------------------------------------------- he -->
<!-- <div class="max-w-sm relative rounded-lg overflow-hidden shadow-lg transform hover:scale-105 transition-transform duration-300">
  
  <div class="relative bg-gradient-to-tr from-gray-900 to-slate-300 bg-opacity-90 text-white p-4 rounded-b-lg">
    
    <h2 class="text-lg font-bold text-white">KIA PICANTO</h2>
    <p class="text-sm text-white">Mini Berline Automatique</p>

    <div class=" flex justify-center">
      <img 
        src="assets/img/kiapicanto5d.png" 
        alt="Car Image" 
        class="w-full object-contain bg-grad"
      />
    </div>
    
    <div class="flex space-x-4 mt-3">
      <div class="flex items-center space-x-1">
        <div class="flex items-center justify-center w-6 h-6 rounded-full bg-gray-800">
          <i class="fas fa-user text-white"></i>
        </div>
        <span class="text-sm text-white">5</span>
      </div>
      <div class="flex items-center space-x-1">
        <div class="flex items-center justify-center w-6 h-6 rounded-full bg-gray-800">
          <i class="fas fa-door-closed text-white"></i>
        </div>
        <span class="text-sm text-white">2</span>
      </div>
      <div class="flex items-center space-x-1">
        <div class="flex items-center justify-center w-6 h-6 rounded-full bg-gray-800">
          <i class="fas fa-cogs text-white"></i>
        </div>
        <span class="text-sm text-white">Automatique</span>
      </div>
    </div>
    

    
    <p class="mt-4 flex items-center text-white text-sm">
      <i class="fas fa-check-circle mr-2"></i> Kilométrage illimité disponible
    </p>

    
    <div class="mt-4 flex">
      <p class="text-lg font-bold text-white">20,50 € <span class="text-sm font-normal">/jour</span></p>
      <p class="pl-3 py-1 text-md text-gray-400">163,97 € total</p>
    </div>
  </div>
</div> -->

<!-- ----------------------------------------------------- -->