<div class="bg-white rounded-lg shadow-md p-6">
    <h2 class="text-xl font-semibold mb-6">Reservation List</h2>
    <table class="min-w-full border-collapse">
      <thead>
        <tr class="bg-gray-100 border-b">
          <th class="text-left p-4 font-medium text-gray-700">ID de Réservation</th>
          <!-- <th class="text-left p-4 font-medium text-gray-700">Numéro de Réservation</th> -->
          <th class="text-left p-4 font-medium text-gray-700">Lieu de Retrait</th>
          <th class="text-left p-4 font-medium text-gray-700">Date de Départ</th>
          <th class="text-left p-4 font-medium text-gray-700">Date de Retour</th>
          <th class="text-left p-4 font-medium text-gray-700">Assurance</th>
          <th class="text-left p-4 font-medium text-gray-700">Statut</th>
          <!-- <th class="text-left p-4 font-medium text-gray-700">Approuvé</th> -->
          <th class="text-left p-4 font-medium text-gray-700">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (reservation of reservations; track reservation) {
          <tr class="hover:bg-gray-50 border-b">
            <td class="p-4 text-gray-600">#{{ reservation.id }}</td>
            <!-- <td class="p-4 text-gray-600">{{ reservation.numeroReservation }}</td> -->
            <td class="p-4 text-gray-600">{{ reservation.lieuRetrait }}</td>
            <td class="p-4 text-gray-600">{{ reservation.dateDepart | date: 'yyyy-MM-dd' }}</td>
            <td class="p-4 text-gray-600">{{ reservation.dateRetour | date: 'yyyy-MM-dd' }}</td>
            <td class="p-4 text-gray-600">{{ reservation.assurance }}</td>
            <td class="p-4 text-gray-600">
              <span
                class="px-2 py-1 rounded-full text-sm"
                [ngClass]="{
                  'bg-green-100 text-green-800': reservation.status === 'CONFIRMED',
                  'bg-yellow-100 text-yellow-800': reservation.status === 'PENDING',
                  'bg-red-100 text-red-800': reservation.status === 'CANCELLED'
                }"
              >
                {{ reservation.status }}
              </span>
            </td>
            <!-- <td class="p-4 text-gray-600">
            @if(reservation.isApproved) {
              <span class="text-green-600">Yes</span>
            } @else {
                <ng-template #notApproved>
                    <span class="text-red-600">No</span>
                  </ng-template>
            }
               
            </td>-->
            <td class="p-4 text-gray-600">
              <button 
                (click)="approveReservation(reservation)"
                class="bg-blue-500 text-white px-1 py-0 rounded mr-2"><fa-icon [icon]="['fas', 'clipboard-check']"
                >
                  </fa-icon></button>
              <button
                (click)="reservation.id && deleteReservation(reservation.id)"
                class="bg-red-500 text-white px-1 py-0 rounded"
              >
              <fa-icon [icon]="['fas', 'trash']"></fa-icon>
              </button>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="9" class="p-4 text-center text-gray-600">No reservations found.</td>
          </tr>
        }
      </tbody>
    </table>
</div>