<div class="navbar bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <a class="btn btn-ghost text-xl">
                <div class="border-1 bg-secondary logo p-2 rounded-xl" routerLink="/">Oasis Cars</div>
            </a>
        </div>
    </div>
    <div class="navbar-center flex">
        <div class="menu menu-sm sm:menu-lg menu-horizontal px-1">
            <li><a routerLink="/">Home</a></li>
            
            @if(isAdmin) {
                <li>
                    <details #AdminMenu>
                        <summary>Dashboard</summary>
                        <ul class="z-30">
                            <li><a href="/dashboard/home">All</a></li>
                        </ul>
                    </details>
                </li>
            } @else if (isUser) {
                <li>
                    <details #productsMenu>
                        <summary>My Reservations</summary>
                        <ul class="z-30">
                            <li><a href="/client-reservation">All</a></li>
                        </ul>
                    </details>
                </li>
            }
        </div>
    </div>
    <div class="navbar-end pe-4 flex align-items-center">
        <div class="dropdown dropdown-end pe-4">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <fa-icon [icon]="['fas', 'user']" class="menu-icon text-xl"></fa-icon>
            </div>
            <ul class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow-lg">
                @if(isAuthenticated) {
                    <li>
                        <a routerLink="" (click)="logout()" class="flex items-center p-2 hover:bg-gray-100 rounded-md">
                            <span>Log Out</span>
                        </a>
                    </li>
                } @else {
                    <li>
                        <a routerLink="/login" class="flex items-center p-2 hover:bg-gray-100 rounded-md">
                            <span>Login</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/register" class="flex items-center p-2 hover:bg-gray-100 rounded-md">
                            <span>Register</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div> 
</div>